@import url("https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}
