

div {
  padding: 10px;
  display: block;
}

img {
  display: block;
}


#ab {
  display: flex;
  padding: 0px;
  background: violet;
}

/* Property de la div a */

#a {
  background-color: red;
  width: 25%;
}

#b {
  background-color: green;
  width: 75%;
}

#c {
  background-color: blue;
}

#d {
  background-color: orange;
}

@media screen and (max-width: 800px) {
  #ab {
    flex-direction: column;
    padding: 0;
  }

  #a,
  #b {
    width: 100%;
  }
}
