* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #285fbec3;

  ul {
    display: flex;
    color: rgb(24, 2, 2);

    li {
      margin: 10px 30px;
      list-style-type: none;

      a {
        color: inherit;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}


