* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgba(40, 95, 190, 0.7647058824);
}
nav ul {
  display: flex;
  color: rgb(24, 2, 2);
}
nav ul li {
  padding: 10px 10px;
  list-style-type: none;
}
nav ul li a {
  padding: 10px 10px;
  color: inherit;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}