* {
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: 100vh;
}

#entete {
  background-color: red;
  height: 10%;
}

#parent {
  display: flex;
  height: 83%;
  width: 100%;
}

#gauche {
  background-color: green;
  height: 100%;
  width: 20%;
}

#sousParent {
  display: flex; 
  flex-direction: column;
  height: 100%;
  width: 100%;
}  



#haut {
  background-color: yellow;
  height: 50%;
  width: 100%;
}

#bas {
  display: flex;

}

#a {
  background-color: purple;
  width: 50%;
  height: 50%;
}

#b {
  background-color: pink;
  width: 50%;
  height: 50%;
}

#footer {
  background-color: blue;
  height: 7%;
}




 


